<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<header>
    <div style="background: black; display: flex; align-items: center; justify-content: center">
        <div style="color: white">
            <h1>Naslov</h1>
        </div>
    </div>
</header>

{% block content %}

{% endblock %}


<!-- Footer -->
<footer style="text-align: center; height: 5%; margin-top: 5rem">
    <p>&copy; 2024 Your Website Name</p>
</footer>


</body>
</html>