{% extends "base_template.html" %}

{% block content %}
     <div class="container mt-5" style="align-items: center; justify-content: center; height: 100%">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <!-- Add other form fields here as needed -->
                    <button type="submit" class="btn btn-dark float-right custom-btn justify-end black">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}