{% extends 'base_template.html' %}

{% block content %}
    <div class="container mt-5" style="align-items: center; justify-content: center; height: 100%;">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6" style="background: lightgray; border: 1px solid black; border-radius: 1rem; padding: 2rem">
                <h3 class="text-center mb-4">Dodadi nov oglas</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <!-- Add other form fields here as needed -->
                    <button type="submit" class="btn btn-dark float-right custom-btn justify-end black mt-5">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}